.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-cell {
  border: 1px solid #ccc;
  cursor: pointer;
}
